doctype html
title Quản lý Nhân Sự
meta(charset="UTF-8")
meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="google-signin-client_id",content="539765149554-k6b9apfbfgk2uancrgevrr6ktgfe391h.apps.googleusercontent.com")
link(rel="stylesheet",type="text/css",href="./css/shared.css")
link(rel="stylesheet",type="text/css",href="./css/bootstrap-vue.css")
link(rel="stylesheet",type="text/css",href="/css/index.css")
link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap' rel='stylesheet')
link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet' href='./css/style.css')
body(class="img js-fullheight",style="background-image: url(css/bg.jpg);")
    section.ftco-section
        .container
            .row.justify-content-center
                .col-md-6.text-center.mb-5
                    h2.heading-section
                        | Login to 
                        span(style='color:red') Q
                        | uick 
                        span(style='color:blue') T
                        | ask
            .row.justify-content-center
                .col-md-6.col-lg-4
                    .login-wrap.p-0
                        h3.mb-4.text-center Have an account?
            .row.justify-content-center
                div(id="sign_in", class="g-signin2" data-onsuccess="onSignIn")
                    
script(type="text/javascript",src="https://apis.google.com/js/platform.js",async,defer)
script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(type="text/javascript",src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js")
script(type="text/javascript",src="./js/bootstrap.js")
script(type="text/javascript",src="./js/bootstrap-vue.js")
script(src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js")
script(type="text/javascript", src="js/mainLogin.js")