doctype html
title Quản lý Nhân Sự
meta(charset="UTF-8")
meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
link(rel="stylesheet",type="text/css",href="/css/shared.css")
script(src='//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js')

link(rel="stylesheet",type="text/css",href="/css/bootstrap-vue.css")
link(rel="stylesheet",type="text/css",href="/css/vue-good-table.min.css")
link(rel="stylesheet",type="text/css",href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.3.6/viewer.min.css")
link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/pc-bootstrap4-datetimepicker@4.17/build/css/bootstrap-datetimepicker.min.css" )
 
link(rel="stylesheet",type="text/css",href="/css/index.css")
body
    div(id='alertHolder')
        b-alert(v-bind:variant="type", :show="countDown", fade, dismissible, @dismissed="countDown=0")
            span(v-html="alertText")
    div(id="vueel" style="display:none;")
        menu-page
        b-alert.position-fixed(v-model='modal.countDown' style='z-index: 2000; width:50%; top: 25%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);', :variant='modal.variant', :fade='true', dismissible='', @dismissed="modal.countDown=0",v-html="modal.alertText")
        b-modal(v-model="modal.showModal",centered="",:title="modal.dataModal.title",size="xl",@close="modal.showModal = false")
            b-card(no-body='')
                b-tabs(card='')
                    b-tab(title='Thông Tin User' active='')
                        .row
                            .col-md-4
                                b-form-group(label="Ten nguoi",label-cols-sm="3",label-align-sm="right")
                                    b-form-input(v-model="modal.dataModal.user_name")
                            .col-md-4
                                b-form-group(label="Email",label-cols-sm="3",label-align-sm="right")
                                    b-form-input(v-model="modal.dataModal.email")
                            .col-md-4
                                b-form-group(label="Trang thai",label-cols-sm="3",label-align-sm="right")
                                    b-form-input(v-model="modal.dataModal.status")
            div(slot="modal-footer")
                b-button(variant="default mr-2",@click="runCancel") Cancel
                span(v-if="modal.dataModal.action == 'add' ||  modal.dataModal.action == 'duplicate'")
                    b-button(variant="primary mr-2",@click="runAddData($event)") Add
                span(v-else-if="modal.dataModal.action == 'edit'")
                    b-button(variant="secondary mr-2",@click="runEdit($event)") Edit
        .row
            .col
                h1(style="text-align:center") Quản Lý Users
        .row
            .col-md-1
                b-button(variant="primary",@click="addData") Add
        .row(v-show="!forms.isLoading")
            .col
                vue-good-table(:columns='configs.columns',
                        v-if="configs.rows2 && configs.rows2.length",
                        :rows='configs.rows2',
                        :line-numbers="true",
                        :search-options="{enabled: true, skipDiacritics: true, trigger: 'enter', placeholder: 'Search name then press Enter'}"
                        :pagination-options="{enabled: true, mode: 'records', perPage: 10, perPageDropdown: [10, 20, 30, 40, 50], dropdownAllowAll: true, nextLabel: 'next', prevLabel: 'prev', rowsPerPageLabel: 'Rows per page', ofLabel: 'of', pageLabel: 'page', allLabel: 'All'}"
                    ) 
                    template(slot="table-row" slot-scope="props")
                        div(v-if="props.row.time && props.column.field == 'time'")
                            div(v-if="props.row.time && props.row.time.soHD") 
                                b-badge(v-if="props.row.status == 14", pill='', variant='warning') {{props.row.time.soHD}}
                                b-badge(v-if="props.row.status == 16",pill='',variant='success') {{props.row.time.soHD}}
                                b-badge(v-if="props.row.status == 15",pill='',variant='danger') {{props.row.time.soHD}}
                            div(v-if="props.row.time && (isDate(props.row.time.day_from) === false || isDate(props.row.time.day_to) === false)")
                                b-badge(pill='', variant='danger') {{ dateToDMY(props.row.time.day_from) }} ~ {{ dateToDMY(props.row.time.day_to) }}
                            div(v-else="")
                                b-badge(v-if="props.row.time && props.row.time.day_from && props.row.time.day_to", pill='', variant='Light') {{props.row.time.day_from}} ~ {{props.row.time.day_to}}
                        div(v-else-if="props.column.field == 'status'")
                            b-badge(v-if="props.row.status == 14", pill='', variant='warning') 
                                categories(:arr="categories['status']", :id="props.row.status")
                            b-badge(v-if="props.row.status == 16",pill='',variant='success')
                                categories(:arr="categories['status']", :id="props.row.status")
                            b-badge(v-if="props.row.status == 15",pill='',variant='danger')
                                categories(:arr="categories['status']", :id="props.row.status")
                        div(v-else-if="props.column.field == 'company_name'")
                            categories(:arr="categories['company']", :id="props.row.company_name")
                        div(v-else-if="props.column.field == 'Edit'")
                            div(style="display:flex")
                                b-button(variant="warning mx-2",@click="editData(props.row, props.row.originalIndex)") Edit
                                b-button(variant="secondary mx-2",@click="duplicateData(props.row, props.row.originalIndex)") Duplicate
                                b-button(variant="danger mx-2",@click="deleteData(props.row, props.row.originalIndex)") Delete
                        div(v-else)
                            span {{props.formattedRow[props.column.field]}}
script(type="text/javascript").
    (function(){
        window.categories = !{JSON.stringify(locals.categories)};
        console.log(window.categories);
    })();
script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(type="text/javascript",src="./js/bootstrap.js")
script(src="https://cdn.jsdelivr.net/npm/moment@2.22")

<!-- Date-picker itself -->
script(src="https://cdn.jsdelivr.net/npm/pc-bootstrap4-datetimepicker@4.17/build/js/bootstrap-datetimepicker.min.js")
script(type="text/javascript",src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js")
include ./menu
include ./categories
script(type="text/javascript",src="./js/vue-good-table.min.js")
script(src='//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js')
script(src='//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js')
script(src="https://cdn.jsdelivr.net/npm/vue-bootstrap-datetimepicker@5")
script(src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js")
script(type="text/javascript", src="js/mainUsers.js")
script(type="text/javascript", src="js/viewer.min.js")


script("text/javascript").
    if (document.getElementById('vueel')) {
        document.getElementById('vueel').style = 'display:block;';
    }